body {
  /*Posición del body es absoluta y el bacground es un gradiente que va de naranja a rojo*/
  position: absolute;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#e68804),
      to(#d14a3b)
    )
    fixed;
}

/*El texto es un título que está alineado al centro, tiene color blanco, su posición es fixed a la mitad de la pantalla y que tiene una transformación del 50%*/

h1 {
  text-align: center;
  font-size: 95px;
  color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#atras {
  position: absolute;
  left: 60px;
  top: 75px;
  height: 60px;
  width: 60px;
}
